$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Roboto';
    height: 100vh;
    @include d-flex;
}

#weather-widget {
    user-select: none;
}

.widget-container {
    @include d-flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    padding: 1px;
    border: none;
    height: 100%;

    @media (min-width: map-get($breakpoints, md)) {
        margin: auto;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-height: 800px;
        height: 100vh;
        max-width: calc(map-get($breakpoints, md) - 40px);
    }
}

.city-info {
    text-align: center;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .city-name {
        margin: 0;
        font-weight: 500;
        font-size: 30px;
    }
    .weather-text {
        font-weight: 200;
        font-size: 14px;
    }
    .temperature {
        font-size: 100px;
        letter-spacing: -0.1em;
    }

    .weather-icon {
        margin-top: 10px;
    }
}

.weekly-forecast {
    margin-top: 20px;
    height: 50%;

    .carousel-container {
        overflow: hidden;
    }

    .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .forecast-text {
        text-align: center;
        font-weight: 500;
    }

    .forecast-daily-temp {
        font-size: 11px;
        text-align: center;
    }


    .pagination {
        margin-top: 10px;
        text-align: center;

        button {
            margin: 0 5px;
            padding: 5px 10px;
            cursor: pointer;
        }
    }
}

