$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    font-family: 'Roboto';
    height: 100vh;
    @include d-flex;
}

#weather-widget {
    user-select: none;
    background-size:cover;
    color: white;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 52, 52, 0.59);
  }
.widget-container {
    @include d-flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    padding: 1px;
    border: none;
    height: 100%;

    @media (min-width: map-get($breakpoints, md)) {
        margin: auto;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-height: 1100px;
        height: 100vh;
        max-width: map-get($breakpoints, md);
    }
}

.pagination {
    @include d-flex();
    height: 10%;

    .icon-spacing{
        font-size: 10px;
        letter-spacing: 0.4em;
    }
}

.city-info {
    text-align: center;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .city-name {
        margin: 0;
        font-weight: 500;
        font-size: 30px;
    }
    .weather-text {
        font-weight: 200;
        font-size: 14px;
    }
    .temperature {
        font-size: 100px;
        letter-spacing: -0.1em;
    }

    .weather-icon {
        margin-top: 10px;
    }
}

.weekly-forecast {
    height: 45%;
    display: flex;
    justify-content: center;

    .carousel-container {
        overflow: hidden;
    }

    .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .forecast-text {
        text-align: center;
        font-weight: 500;
    }

    .forecast-daily-temp {
        font-size: 11px;
        text-align: center;
    }
    .forecast-item {
        img {
            width: calc(100vw / 7);
            max-width: 75px;
        }
    }
}
@media (orientation: landscape) {
    .widget-container {
        width: 100%;
        max-width: none;
    }
    .city-info {
        .temperature {
            font-size: 50px;
        }
    }
    @media (min-height: map-get($breakpoints, sm)) {
        .city-info {
            .temperature {
                font-size: 100px;
            }
        }
    }
}